.red {
  background-color: #ED1C24 !important;
  color: #FFFFFF !important;
}

.red:hover {
  background-color: #8B0000 !important;
  color: #FFFFFF !important;
}

.beige {
  background-color: #FED09E !important;
  color: #000000 !important;
}

.beige:hover {
  opacity: 0.8;
}

.beige-flat {
  background-color: transparent !important;
  color: #000000 !important;
}

.beige-flat:hover {
  background-color: #FED09E !important;
  color: #000000 !important;
}

.red-flat {
  background-color: transparent !important;
  color: #000000 !important;
}

.red-flat:hover {
  background-color: #ED1C24 !important;
  color: #FFFFFF !important;
}

.select-wrapper.invalid > input.select-dropdown,
.select-wrapper.invalid > input.select-dropdown:focus,
input:not([type]).invalid,
input:not([type]):focus.invalid,
input[type=date]:not(.browser-default).invalid,
input[type=date]:not(.browser-default):focus.invalid,
input[type=datetime-local]:not(.browser-default).invalid,
input[type=datetime-local]:not(.browser-default):focus.invalid,
input[type=datetime]:not(.browser-default).invalid,
input[type=datetime]:not(.browser-default):focus.invalid,
input[type=email]:not(.browser-default).invalid,
input[type=email]:not(.browser-default):focus.invalid,
input[type=number]:not(.browser-default).invalid,
input[type=number]:not(.browser-default):focus.invalid,
input[type=password]:not(.browser-default).invalid,
input[type=password]:not(.browser-default):focus.invalid,
input[type=search]:not(.browser-default).invalid,
input[type=search]:not(.browser-default):focus.invalid,
input[type=tel]:not(.browser-default).invalid,
input[type=tel]:not(.browser-default):focus.invalid,
input[type=text]:not(.browser-default).invalid,
input[type=text]:not(.browser-default):focus.invalid,
input[type=time]:not(.browser-default).invalid,
input[type=time]:not(.browser-default):focus.invalid,
input[type=url]:not(.browser-default).invalid,
input[type=url]:not(.browser-default):focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
  background: rgba(237, 28, 36, 0.2);
}

.select-wrapper.invalid > input.select-dropdown + label,
.select-wrapper.invalid > input.select-dropdown:focus + label,
input:not([type]).invalid + label,
input:not([type]):focus.invalid + label,
input[type=date]:not(.browser-default).invalid + label,
input[type=date]:not(.browser-default):focus.invalid + label,
input[type=datetime-local]:not(.browser-default).invalid + label,
input[type=datetime-local]:not(.browser-default):focus.invalid + label,
input[type=datetime]:not(.browser-default).invalid + label,
input[type=datetime]:not(.browser-default):focus.invalid + label,
input[type=email]:not(.browser-default).invalid + label,
input[type=email]:not(.browser-default):focus.invalid + label,
input[type=number]:not(.browser-default).invalid + label,
input[type=number]:not(.browser-default):focus.invalid + label,
input[type=password]:not(.browser-default).invalid + label,
input[type=password]:not(.browser-default):focus.invalid + label,
input[type=search]:not(.browser-default).invalid + label,
input[type=search]:not(.browser-default):focus.invalid + label,
input[type=tel]:not(.browser-default).invalid + label,
input[type=tel]:not(.browser-default):focus.invalid + label,
input[type=text]:not(.browser-default).invalid + label,
input[type=text]:not(.browser-default):focus.invalid + label,
input[type=time]:not(.browser-default).invalid + label,
input[type=time]:not(.browser-default):focus.invalid + label,
input[type=url]:not(.browser-default).invalid + label,
input[type=url]:not(.browser-default):focus.invalid + label,
textarea.materialize-textarea.invalid + label,
textarea.materialize-textarea:focus.invalid + label {
  color: #ED1C24;
  font-weight: bold;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

html,
body {
  height: calc(100% - 45px);
}

@media screen and (max-width: 992px) {
  html,
  body {
    height: calc(100% - 32px);
  }
}

body {
  overflow-y: auto;
}

.wrapper {
  min-height: 100%;
  margin: 90px auto -349px;
}

@media screen and (max-width: 992px) {
  .wrapper {
    margin-top: 64px;
    min-height: calc(100% - 64px);
  }
}

@media screen and (min-width: 993px) {
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 90px;
    line-height: 90px;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #F5F5F5;
  z-index: 1000;
}

nav .nav-wrapper {
  width: 100%;
}

@media screen and (max-width: 992px) {
  nav .nav-wrapper {
    padding: 0 5px;
  }
}

nav .brand-logo {
  height: 100%;
  margin: 0 10px;
  padding: 5px 0;
  text-align: left;
}

@media screen and (max-width: 992px) {
  nav .brand-logo {
    position: relative;
    max-width: 48%;
    text-align: left;
    display: inline-block;
    left: 0;
    transform: none;
  }
}

nav .brand-logo img {
  width: auto;
  height: 100%;
}

nav .brand-logo svg {
  width: auto;
  height: 100%;
}

@media screen and (max-width: 992px) {
  nav ul {
    display: inline-block;
    margin: 0 -5px 0 0 !important;
    padding: 0 !important;
    height: 100%;
    float: right;
  }
}

nav ul a {
  color: #000000;
}

nav a.login-button {
  position: absolute;
  right: 0;
  vertical-align: middle;
  padding: 0 25px;
  font-weight: bold;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 992px) {
  nav a.login-button {
    width: 100%;
    max-width: 40%;
    vertical-align: initial;
    padding: 0 10px;
    box-shadow: none;
    margin: 0 auto !important;
    height: 64px;
    line-height: 64px;
    font-size: 13px;
    font-weight: 700;
  }
}

@media screen and (max-width: 600px) {
  nav a.login-button {
    height: 56px;
    line-height: 56px;
  }
}

.sidenav {
  margin-top: 91px;
}

@media screen and (max-width: 992px) {
  .sidenav {
    margin-top: 65px;
  }
}

.main-row .card {
  margin: 0 auto;
  box-shadow: none;
  border: none;
}

.main-row .card .card-panel {
  margin: 0 auto;
  box-shadow: none;
  border: none;
}

.main-row .card .card-panel h1 {
  font-size: 3rem;
}

@media screen and (max-width: 992px) {
  .main-row .card .card-panel h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

.main-row .logo svg {
  max-height: 250px;
}

.home-row {
  max-width: 1280px;
  margin-top: -100px;
  margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
  .home-row {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.home-row .col {
  padding: 0;
}

.home-row .col .card {
  width: 95%;
  min-height: 450px;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .home-row .col .card {
    min-height: unset;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .home-row .col .card {
    min-height: unset;
    width: 100%;
  }
}

.home-row .col .card .card-content .card-title {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin: 0 auto 30px;
}

.home-row .col .card .card-content p {
  font-size: 24px;
}

.home-row .col .card .card-content a {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  height: 80px;
  line-height: 76px;
  width: 100%;
  max-width: 375px;
  font-size: 18px;
  font-weight: 700;
  background: #000000;
  color: #FFFFFF;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 992px) {
  .home-row .col .card .card-content a {
    transform: unset;
    top: unset;
    bottom: unset;
    left: unset;
    height: 56px;
    line-height: 56px;
    position: relative;
    margin: 30px auto 0;
    font-size: 20px;
    max-width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .home-row .col .card .card-content a {
    transform: unset;
    top: unset;
    bottom: unset;
    left: unset;
    height: 50px;
    line-height: 50px;
    position: relative;
    margin: 30px auto 0;
    font-size: 18px;
    max-width: 300px;
    text-align: center;
  }
}

.home-row .col .card .card-content a.btn-large {
  box-shadow: none;
}

.home-row .col .card:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.home-row .col .card:hover .card-content a {
  background: #FED09E;
  color: #000000;
}

.home-row .col .card.help_card:hover {
  background: #ED1C24;
  color: #FFFFFF;
}

.home-row .col .card.volunteer_card:hover {
  background: #FFFFFF;
  color: #000000;
}

.push {
  height: 350px;
}

footer {
  float: left;
  width: 100%;
}

footer.page-footer {
  background: rgba(0, 0, 0, 0.75);
  padding-top: 0;
  position: relative;
  overflow-y: hidden;
}

footer.page-footer > .row {
  margin-bottom: 0;
}

footer.page-footer > img {
  opacity: 1;
  position: absolute;
  z-index: -1;
  height: auto;
  width: 100%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 992px) {
  footer.page-footer .container {
    width: 100%;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  footer.page-footer .container {
    width: 100%;
    padding: 0 15px;
  }
}

footer.page-footer .footer-copyright {
  background: #000000;
  min-height: 60px;
  padding: 5px 0;
}

@media screen and (max-width: 540px) {
  footer.page-footer .footer-copyright div.right {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto 10px;
  }
}

footer.page-footer .footer-copyright span {
  line-height: 55px;
}

@media screen and (max-width: 540px) {
  footer.page-footer .footer-copyright span {
    display: block;
    line-height: 40px;
    width: 100%;
    text-align: center;
  }
}

footer.page-footer .footer-copyright a {
  color: #FFFFFF;
  line-height: 55px;
}

footer.page-footer .footer-copyright a:hover {
  color: #ED1C24;
}

@media screen and (max-width: 540px) {
  footer.page-footer .footer-copyright a.left {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  footer.page-footer .footer-copyright a.right {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 40px;
  }
}

footer.page-footer .footer-copyright svg {
  height: 40px;
  width: auto;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

footer.page-footer .footer-copyright svg path {
  fill: #FFFFFF;
}

footer.page-footer .footer-copyright svg:hover path {
  fill: #00BAF8;
}

footer .svg-logo {
  text-align: center;
}

footer .svg-logo svg {
  width: 100%;
  max-height: 175px;
}

footer h5 {
  width: 100%;
  display: block;
  color: #FED09E;
  border-bottom: 1px solid #F5F5F5;
  position: relative;
  padding-bottom: 10px;
}

@media screen and (max-width: 992px) {
  footer h5 {
    font-size: 18px;
  }
}

footer h5:after {
  bottom: -1px;
  content: "\A";
  height: 2px;
  left: 0;
  position: absolute;
  width: 50px;
  border: 1px solid #ED1C24;
}

footer p {
  color: #FFFFFF;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

footer ul li span {
  vertical-align: text-top;
  margin-right: 10px;
}

footer ul li span,
footer ul li a {
  line-height: 29px;
}

footer ul li p {
  display: inline-block;
}

footer a {
  color: #FED09E;
}

footer a:hover {
  color: #ED1C24;
}

.cookie-consent {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #ED1C24;
  width: 100%;
  height: 60px;
  z-index: 10000;
}

@media only screen and (max-width : 600px) {
  .cookie-consent {
    height: auto;
  }
}

.cookie-consent span {
  position: relative;
  height: 100%;
  line-height: 60px;
  color: #FFFFFF;
  padding: 0 0 0 20px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 2px 2px 0px #000000;
}

@media only screen and (max-width : 600px) {
  .cookie-consent span {
    display: block;
    width: 100%;
    line-height: 20px;
    padding: 5px 15px;
    text-align: center;
  }
}

.cookie-consent button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 250px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: #FED09E;
  color: #000000;
  cursor: pointer;
}

@media only screen and (max-width : 600px) {
  .cookie-consent button {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    max-width: 100%;
  }
}

.cookie-consent button:hover {
  background: #FFFFFF;
  color: #ED1C24;
}

#toTop {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background: #ED1C24;
  border: 1px solid #8B0000;
  border-radius: 100%;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
}

#toTop:hover {
  background: #8B0000;
}

#toTop i {
  font-size: 30px;
  line-height: 45px;
  color: #FFFFFF;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000000;
  background: #FFF;
}

.preloader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width : 992px) {
  .parallax-container {
    height: 250px;
  }
}

@media only screen and (max-width : 600px) {
  .parallax-container {
    height: 175px;
  }
}

@media screen and (max-width: 479px) {
  #login_btn {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  #forgotpassword_btn,
  #password_btn,
  #reset_btn {
    margin: 30px auto 0;
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  #forgotpassword_btn i,
  #password_btn i,
  #reset_btn i {
    display: none;
  }
}

.area-input-group {
  margin: 0 0 0 !important;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .card-panel {
    padding: 15px;
  }
}

